@(election : Option[models.Election], edit: Boolean)
@import java.text.SimpleDateFormat; val curTimeFormat = new SimpleDateFormat("MM/dd/yyyy")


<div class="row setup-content" id="step-1">
    <div class="col-xs-12">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Election Name</label>
                <input type="text" @if(edit){value='@election.get.name'} class="form-control" name="name" placeholder="Election Name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input type="text" class="form-control" @if(edit){value='@election.get.description'}name="description" placeholder="Description" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="date">Start Date</label>
                <input class="form-control" @if(edit){value='@curTimeFormat.format(election.get.start)'} id="date" name="start" placeholder="MM/DD/YYY"
                    type="text" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">End Date</label>
                <input class="form-control" @if(edit){value='@curTimeFormat.format(election.get.end)'} id="date" name="end" placeholder="MM/DD/YYY" type="text"
                />
            </div>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
        </div>
    </div>
</div>
