@(creatorDetails: Boolean, user: Option[models.User] = None)

<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle" disabled>1</a>
            <p>Basic Settings</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled>2</a>
            <p>Details</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled>3</a>
            <p>Privacy</p>
        </div>
        @if(creatorDetails && user==None){
        <div class="stepwizard-step">
            <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled>4</a>
            <p>Creator details</p>
        </div>
        }
    </div>
</div>